.info {
  background-image: url(./../images/info-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 90px;
}

.info::before {
  content: "";
  position: absolute;
  height: 130px;
  background-color: var(--color-dark);
  top: 80px;
  left: 0;
  right: 0;
  transform: translateY(-180px);
  z-index: 1;
}

.info__top {
  display: flex;
  gap: 80px;
  padding-top: 100px;
  margin-bottom: 65vh;
}

.info__top-text {
  padding-top: 245px;
  width: 290px;
  color: #fff;
  position: relative;
}

.info__top-text--one {
  padding-bottom: 125px;
}

.info__top-text--two {
  border-bottom: 1px solid var(--color-light);
}

.popup-btn {
  position: absolute;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.popup-btn span {
  display: block;
  padding-top: 12px;
  color: var(--color-light);
}

.info__btn {
  bottom: 0;
  right: 0;
}

.info__btn:hover path {
  fill: var(--background-color-hover);
  transition: fill 0.3s ease-in;
}

.info__btn:hover circle {
  stroke: var(--background-color-hover);
  transition: stroke 0.3s ease-in;
}

.info__top-img {
  position: relative;
  z-index: 6;
}

.info__specs {
  display: flex;
  align-items: center;
  gap: 130px;
  color: var(--color-light);
  padding-bottom: 50px;
}

.info__specs-title {
  text-transform: uppercase;
  font-size: 60px;
  line-height: 67px;
  font-family: "Comfortaa", cursive;
}

.info__specs-list {
  border-top: 1px solid var(--color-light);
  border-bottom: 1px solid var(--color-light);
  padding: 30px 0;
  width: 565px;
  font-weight: 700;
}

.info__specs-item {
  margin-bottom: 15px;
  display: flex;
  gap: 25px;
}

.info__specs-caption {
  width: 185px;
}
